.popup {
    width : 100px;
    height : 100px;
    border-radius : 3px;
    box-shadow : 2px 2px 4px 4px grey;
    position :fixed;
    top : 50%;
    left : 50%;
    margin-left : -50px;
    margin-top : -50px;
    z-index : 100;  
    text-align: center;
    padding: 0px 0px;
} 

.bar{
    height: 20px;
    border-radius : 3px 3px 0px 0px;
    background: rgb(230, 230, 230);

}

.close{
    width: 20px;
    height: inherit;
    background: rgb(247, 148, 148);
    z-index: 10;
    float: right;
    border-radius : 0px 3px 0px 0px;

}

.close:hover{
    background: red;

}

.content{
    padding: 20px;
}   